/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/11/2016, 09:05:12 AM
    Author     : Manuel Arrisueño <marrisueno at onpe.gob.pe>
*/

.button-lista{
    color: #fff;
    background-color: #2baf2b;
    border-color: #0a8f08;
    font-size: 1.4em;
    padding: 10px 120px;
    text-transform: none;
    margin: 0 auto;
}

.button-exportar{
    color: #fff;
    background-color: #005780;
    border-color: #0a8f08;
    font-size: 1.4em;
    padding: 10px 120px;
    text-transform: none;
    margin: 0 auto;
}
table.table-default{
    width: 100%;
    border-spacing: 0;
    font-size: 15px;
}